.superInput {
    background-color: green;
}

.errorInput {
    border: 3px solid #E9E657;
    background: #68B5BF;
    border-radius: 6px;
}

.error {
    color: #fc3333;
}

.errorInput:focus{
    border: 3px solid #68B5BF;
    background:  #E9E657;
    border-radius: 6px;
    outline:none;
}