.default {
    border:none;
    border-radius: 3px;
    color:white;
    background: linear-gradient(0deg, rgba(6, 14, 131, 1) 0%, rgba(12, 25, 180, 1) 100%);
}
.default:hover{

    background: rgb(0, 3, 255);
    background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);
}
.red {
    background: red;
    border:none;
}
.default:disabled{
    border-radius: 3px;
    outline: none;
    color:white;
    background: linear-gradient(0deg, rgb(124, 127, 196) 0%, rgb(77, 82, 180) 100%);
}